Source: sample1
Section: contrib
Priority: extra
Maintainer: Yasuaki Hagiwara <yhagiwara@netgear.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://www.readynas.com

Package: sample1
Architecture: amd64 armel
Depends: ${shlibs:Depends}, ${misc:Depends}, readynasos (>= 6.1.0), php5-sqlite (>= 5.4.4-10), git
Description: NETGEAR ReadyNASOS Addon Sample1
 This is Addon Sample for NETGEAR devices which runs ReadyNASOS. This will monitor cpu usage at configured interval, and save to database. And user can query result.


#Source:
 #source package name
#Priority:
 the priority of the debian package. varies from (optional, extra, required, important, or standard). 
 #Use 'optional' unless the the package is essential to the functioning system such as booting or networking
 #functionality.
 #'Extra' is typically used for debugging packages and packages not meant to be used on a standard desktop installation.
#Build-Depends:
 #the list of packages that need to be installed to the build the package
 
 #Package:
  #name of the binary package
 #Architecture: 
  #the computer architectures the binary package can work on (i.e. amd64 armel)
  #any - the package can be built for any architecture but the binary package has to be built for each architecture separately
  #all - the binary package will work on all architectures without having to be compiled and built separately for each
   #i.e.: a package of only shell scripts
 #Depends:
  #the list of packages necesarry for the binary package to be installed
  #${shilbs:Depends} : shared library dependencies
  #${misc:Depends} : debhepler dependencies
  #other dependencies must be added manually to either DEpends or Build-Depends
  
